footer{
    height: 250px;
    background-color: #86685d;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "text text icons";

    h3{
        color: rgb(0, 0, 0);
        font-size: 25px;
        justify-self: center;
        align-self: center;
        grid-area: text;
    }
}


#footer_iconos{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    height: 90%;
    width: 90%;
    padding: 10px;
}



.iconf{
    padding: 15px;
    color: white;
    font-size: 25px;
}

.iconf:hover{
    transform: scale(1.5);
    transition: all 0.5s;
}

#icon_fb:hover{
    color: rgb(72, 72, 170);
}
#icon_insta:hover{
    color: rgb(218, 49, 195);
}
#icon_wpp:hover{
    color:  rgb(86, 189, 86);
}

